<body id="{{movies.color}}" class="whiteTxt">

    <nav class="navbar nav" id="contentPageHeader">
        <span>
            <a href="/">
                <img id="headerImg" src="/images/worthitinverted.png">
            </a>
        </span>
        <div class="ml-auto no-gutters" id="searchBarHeader">
						<div class="input-group input-group-lg">
							<div class="input-group-prepend" id="searchBlackDiv">
								<span id="searchBlackIcon" class="input-group-text searchIconNM" id="inputGroup-sizing-lg">
									<i class="fa fa-search fa-fw"></i>
								</span>
							</div>
							<input id="searchBlack" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Search for a Movie">
						</div>
					</div>
        <span class="margin-navspace">
            <a href="/login">
                <img id="loginButton" src="/images/plus.png">
            </a>
        </span>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1 id="searchTitle">{{movies.pageTitle}}</h1>
            </div>
            <div class="col-sm-2"></div>
        </div>

        {{#each movies.results}}
        <div class="row" id="searchResultsRow">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 justify-content-center">
                <div class="row w-100" id="searchResultsReturns">
                    <div class="col-sm-3 image-cropper align-self-center">
                        <a href="/movies?s={{title}}">

                        <img class="image-fluid movieImageCircle" src="{{poster}}">

                        </a>
                    </div>
                    <div class="col-sm-9 align-self-center">
                        <p class="nowrap" id="searchResultsOrdinal">{{inc @index}}. {{title}}</p>&nbsp;&nbsp;&nbsp;
                        <p class="nowrap">Critic Rating: {{ratings.critic}}</p>&nbsp;&nbsp;&nbsp;
                        <p class="nowrap">General Audience Rating: {{ratings.general}}</p>
                        <p>Plot Summary: {{synopsis}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        {{/each}}
    </div>
    </div>
</body>